*,*::before,*::after {
  box-sizing:border-box;
}
/* frames */
#header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #75c;
}

#left {
  width: 188px;
  position: absolute;
  left: 10px;
}

#right {
  position: absolute;
  left: 200px;
}

/* progress of downloading database */
.progressbar {
  margin: 5px;
  position: relative;
}

/* SQL syntax and status of results */
/* windows putty? */
.winpt { 
  width: 98%; 
}

.success { 
  color: #468847; 
}

.error { 
  color: #b94a48; 
}

.info { 
  color: #3a87ad; 
}

pre {
  white-space: pre-wrap; 
}

/* html body */
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5f5ff;
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  color: #454545;
  font-size: 14px;
  position: relative;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: Verdana, Helvetica, Arial, FreeSans, sans-serif;
}

h1 {
  margin: 0;
  padding-top: 20px;
  font-size: 45px;
}

h2 {
  margin-top: 12px;
  font-size: 20px;
}

h3 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

.clear {
  clear: left;
}

#container {
  height: 100%;
}


/**
 * text
 */
img {
  vertical-align: middle;
  border-style: none;
}

a {
  text-decoration: none;
  color: #4267b6;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h1 .small {
  font-size: 16px;
  font-weight: normal;
}

p .small {
  font-size: 13px;
  margin-top: 60px;
}

.nobreak {
  white-space: nowrap;
}

pre {
  clear: left;
}

ul,
ol,
p,
.descLayout pre {
  margin-bottom: 1.5em;
  clear: left;
}

li {
  margin-bottom: 1.3em;
}

ul.tight li {
  margin-bottom: 0.3em;
}

ul {
  padding-left: 30px;
}

ul ul {
  margin-top: 1.5em;
}

.descLayout pre {
  margin-left: 0.5em;
}

.warning {
  border: 1px solid #d4d8eb;
  padding: 10px;
  background: #f0f1f8;
  box-shadow: 2px 2px 7px #777;
  margin-bottom: 40px;
}

.warning strong {
  background: #747477;
  color: #fff;
  border-radius: 4px;
  padding: 2px 4px;
}

/**
 * Handsontable
 */
.handsontable {
  margin-bottom: 10px;
  color: #000;
  z-index: 2;
  font-size: 12px;
}

.handsontable li {
  margin-bottom: 0; /* will be not needed after Handsontable 0.8.16 */
}

/**
 * home page
 */
body.home {
  background: #fff;
}

body.home h1 {
  position: relative;
}

body.home h2 {
  margin-top: 40px;
}

body.home #domainNotice {
  display: none;
}

body.home .centerLayout {
  margin: 0 auto;
  padding-bottom: 10px;
}

body.home .linkColumn {
  float: left;
  margin-left: 89px;
}

body.home .linkColumn.first {
  margin-left: 0;
}

body.home #container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body.home #container ul ul {
  padding: 10px 0 0 15px;
}

body.home #container ul li {
  margin: 0 0 10px 0;
}

body.home pre.javascript {
  display: none;
}

.state-loaded {
  display: none;
}

.alert {
  color: #c09853;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**
* buttons
**/
button,
.button {
  box-shadow: 0px 0px 0px 0px #f0f7fa;
  background-color: #f2ab1e;
  border-radius: 6px;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: -1px 1px 0px #5b6178;
  margin: 2px;
}

button:hover,
.button:hover {
  background-color: #f0c911;
  text-decoration: none;
}

button.mini {
  padding: 3px 5px;
  font-size: 11px;
  line-height: 16px;
  margin-top: -3px;
}

.inline-buttons button,
.inline-buttons .button {
  float: left;
}

.sql {
  font-family: monospace;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.sql .col {
  align-self: center;
  width: auto;
  flex-basis: auto;
  flex-grow: initial;
}

.sql-stmt {
  padding-left: unset;
}

.sql2 button {
  font-family: Helvetica, Arial, FreeSans, sans-serif; /*Firefox tries to use system font on button*/
  display: inline-block;
  padding: 6px 9px;
  margin: 2px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  -moz-user-select: none;
  background-color: #ea2;
  color: white;
}

.sql2 button:hover {
  background-color: #e82;
  text-decoration: none;
}

.sql button {
  box-shadow: 0px 0px 0px 0px #f0f7fa;
  background-color: #3b5898;
  border-radius: 6px;
  border: 1px solid #314179;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
  text-shadow: -1px 1px 0px #5b6178;
}

.sql button:hover {
  background-color: #637aad;
}

.sql button:active {
  position: relative;
  top: 1px;
}

.sql input {
}

/* search card style */
.page-load-incomplete {
  display: block;
}

.page-load-complete {
  display: none;
}

.form-check-input:disabled~.form-check-label {
  color: #db8;
}

.search-title input+label {
  cursor: pointer;
}

.description {
  margin-left: 10px;
}

.toggle-arrow {
  position: relative;
  margin-right: 15px;
  width: 14px;
  height: 14px;
  border-top: 5px solid rgba(40, 40, 40, 1);
  border-right: 5px solid rgba(40, 40, 40, 1);
  transform: rotate(45deg);
}

.search-title input:checked+label .toggle-arrow {
  transform: rotate(135deg);
}

.toggle-arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 3px solid #db8;
  border-right: 3px solid #db8;
  top: -4px;
  left: 1px;
  z-index: 1;
}

.toggle-arrow-screw {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-sizing: border-box;
  border-left: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  left: 1px;
  top: -3px;
  background: linear-gradient(45deg, rgba(120, 100, 50, 1), rgba(255, 255, 160, 1));
}

.search-title input:checked+label .toggle-arrow-screw {
  background: linear-gradient(135deg, rgba(120, 100, 50, 1), rgba(255, 255, 160, 1));
}

.toggle-arrow-screw::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .5);
  left: 2px;
  top: 2px;
  background: linear-gradient(45deg, rgba(100, 30, 15, 1), rgba(180, 110, 105, 1));
}

.search-title input:checked+label .toggle-arrow-screw::before {
  background: linear-gradient(135deg, rgba(100, 30, 15, 1), rgba(180, 110, 105, 1));
}

.gold-select {
  color: #db8;
  cursor: pointer;
  border: solid 1px #ca8;
  background: rgb(37, 20, 10);
}

input.toggle-title {
  display: none;
}

.init-ready-radio input+label {
  cursor: pointer;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #2d2d2d;
  margin-right: 1rem;
  background: rgb(182, 181, 179);
  background: -moz-linear-gradient(-45deg, rgba(182, 181, 179, 1) 0%, rgba(49, 44, 39, 1) 30%, rgba(49, 44, 39, 1) 50%, rgba(142, 107, 80, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(182, 181, 179, 1) 0%, rgba(49, 44, 39, 1) 30%, rgba(49, 44, 39, 1) 50%, rgba(142, 107, 80, 1) 100%);
  background: linear-gradient(135deg, rgba(182, 181, 179, 1) 0%, rgba(49, 44, 39, 1) 30%, rgba(49, 44, 39, 1) 50%, rgba(142, 107, 80, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6b5b3', endColorstr='#8e6b50', GradientType=1);
}

.init-ready-radio input#ir-all+label {
  width: 60px;
  border-radius: 40%;
}

.init-ready-radio input:checked+label {
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
}

#quality-filter {
  background: rgb(112, 44, 32);
  background: rgb(37, 20, 10);
  background: -moz-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: linear-gradient(to bottom, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  padding-top: 5px;
  padding-left: 20px;
  margin-left: 3px;
  margin-bottom: 10px;
  width: 240px;
  border: solid 1px #ca8;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.quality-checkbox input+label {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #ec4;
  margin-right: 1rem;
  position: relative;
}

.quality-checkbox input+label::before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgba(30, 30, 30, .5);
  position: absolute;
  left: -4px;
  top: -4px;
}

.quality-checkbox input+label::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgba(30, 30, 30, .5);
  position: absolute;
  left: 0;
  top: 0;
}

.quality-checkbox #qt-1+label {
  background-color: #fff;
}

.quality-checkbox #qt-1:checked+label {
  box-shadow: 0 0 10px #fff, 0 0 10px #fff;
}

.quality-checkbox #qt-2+label {
  background-color: #28e41a;
}

.quality-checkbox #qt-2:checked+label {
  box-shadow: 0 0 10px #28e41a, 0 0 10px #28e41a;
}

.quality-checkbox #qt-3+label {
  background-color: #25a0ff;
}

.quality-checkbox #qt-3:checked+label {
  box-shadow: 0 0 10px #25a0ff, 0 0 10px #25a0ff;
}

.quality-checkbox #qt-4+label {
  background-color: #da05e2;
}

.quality-checkbox #qt-4:checked+label {
  box-shadow: 0 0 10px #da05e2, 0 0 10px #da05e2;
}

.quality-checkbox #qt-5+label {
  background-color: #ff9500;
}

.quality-checkbox #qt-5:checked+label {
  box-shadow: 0 0 10px #ff9500, 0 0 10px #ff9500;
}

.quality-checkbox #qt-6+label {
  background-color: #f00;
}

.quality-checkbox #qt-6:checked+label {
  box-shadow: 0 0 10px #f00, 0 0 10px #f00;
}

.quality-checkbox #qt-7+label {
  background-color: #fff20d;
}

.quality-checkbox #qt-7:checked+label {
  box-shadow: 0 0 10px #fff20d, 0 0 10px #fff20d;
}

.group-name {
  float: right;
}

.bg-description {
  margin-top: 0;
}

.bg-description p {
  margin-bottom: 0;
}

.bg-description font {
  font-size: 0.8rem;
  color: #fff;
}

/* card image */
.hide {
  display: none;
}

.gold-f {
  color: #db8;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 0px 1px 0, #000 0-1px 0, #000 -1px 0 0, #000 1px 0 0;
}

.white-f {
  color: #fff;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 0px 1px 0, #000 0-1px 0, #000 -1px 0 0, #000 1px 0 0;
}

.filter-list img {
  margin-right: 5px;
  vertical-align: top;
}

.form-check-inline {
  margin-right: .1rem;
  font-size: 16px;
}

.form-check-inline .filter-name {
  display: inline-block;
  margin-top: 1px;
}

input[name="show_media_mode"]+label {
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  margin: 3px;
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 1px 10px 0 7px;
  border: solid 1px #ca8;
  border-radius: 4px;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202a05', endColorstr='#5b7a1c', GradientType=0);
}

input[name="show_media_mode"]:checked+label {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202a05', endColorstr='#5b7a1c', GradientType=0);
}

input[name="show_media_mode"],
input[name="race"],
input[name="attack_type"],
input[name="quality[]"],
input[name="init_ready"],
input[name="show_mode"] {
  display: none;
}

input[name="race"]+label,
input[name="attack_type"]+label,
input[name="show_mode"]+label {
  cursor: pointer;
  text-align: center;
  position: relative;
  margin: 3px;
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 1px 10px 0 7px;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(112, 44, 32);
  background: rgb(37, 20, 10);
  background: -moz-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: linear-gradient(to bottom, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25140a', endColorstr='#2b1a10', GradientType=0);
}

input[name="race"]:checked+label,
input[name="attack_type"]:checked+label,
input[name="elite"]:checked+label {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202a05', endColorstr='#5b7a1c', GradientType=0);
}

input[name="show_mode"]:checked+label {
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 5px #fff;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(194, -30, 5, 1) 0%, rgba(204, 27, 9, 1) 50%, rgba(206, 47, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202a05', endColorstr='#5b7a1c', GradientType=0);
}

.search-list input {
  display: none;
}

#search_ability_type {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: .25rem;
}

.search-list input#search-card-name, .search-list input#search_ability_type {
  display: block;
}

.search-list input+label {
  cursor: pointer;
  text-align: center;
  position: relative;
  margin: 3px;
  display: inline-block;
  width: 100px;
  height: 30px;
  padding: 1px 10px 0 10px;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: linear-gradient(to bottom, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25140a', endColorstr='#2b1a10', GradientType=0);
}

.search-list input[name="group"]+label {
  width: 135px;
}

.search-list input:checked+label {
  cursor: pointer;
  background: rgb(32, 42, 5);
  background: -moz-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  background: linear-gradient(to bottom, rgba(32, 42, 5, 1) 0%, rgba(43, 92, 3, 1) 50%, rgba(91, 122, 28, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202a05', endColorstr='#5b7a1c', GradientType=0);
}

.btn-search {
  color: #db8;
  width: 200px;
  border: solid 1px #ccc;
  background: rgb(78, 195, 241);
  background: -moz-linear-gradient(top, rgba(78, 195, 241, 1) 0%, rgba(12, 53, 128, 1) 40%, rgba(18, 50, 109, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(78, 195, 241, 1) 0%, rgba(12, 53, 128, 1) 40%, rgba(18, 50, 109, 1) 100%);
  background: linear-gradient(to bottom, rgba(78, 195, 241, 1) 0%, rgba(12, 53, 128, 1) 40%, rgba(18, 50, 109, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec3f1', endColorstr='#12326d', GradientType=0);
}

.btn-search:hover {
  color: #db8;
  background: rgb(140, 240, 240);
  background: -moz-linear-gradient(top, rgba(140, 240, 240, 1) 0%, rgba(12, 90, 200, 1) 40%, rgba(18, 60, 160, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(140, 240, 240, 1) 0%, rgba(12, 90, 200, 1) 40%, rgba(18, 60, 160, 1) 100%);
  background: linear-gradient(to bottom, rgba(140, 240, 240, 1) 0%, rgba(12, 90, 200, 1) 40%, rgba(18, 60, 160, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cf0f0', endColorstr='#123ca0', GradientType=0);
}

.btn_save {
  color: #db8;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0, #000 0px 1px 0, #000 0-1px 0, #000 -1px 0 0, #000 1px 0 0;
  width: 60px;
  height: 24px;
  padding: 0 4px;
  font-size: 13px;
  line-height: 23px;
  border: solid 1px #333;
  border-radius: 4px;
  background: rgb(243, 86, 6);
  background: -moz-linear-gradient(top, rgb(243, 86, 6) 0%, rgb(212, 66, 1) 50%, rgb(241, 120, 46) 100%);
  background: -webkit-linear-gradient(top, rgb(243, 86, 6) 0%, rgb(212, 66, 1) 50%, rgb(241, 120, 46) 100%);
  background: linear-gradient(to bottom, rgb(243, 86, 6) 0%, rgb(212, 66, 1) 50%, rgb(241, 120, 46) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f35606', endColorstr='#f1782e', GradientType=0);
}

.btn_save:hover {
  background: rgb(250, 120, 50);
  background: -moz-linear-gradient(top, rgb(250, 120, 50) 0%, rgb(220, 80, 20) 50%, rgb(248, 160, 90) 100%);
  background: -webkit-linear-gradient(top, rgb(250, 120, 50) 0%, rgb(220, 80, 20) 50%, rgb(248, 160, 90) 100%);
  background: linear-gradient(to bottom, rgb(250, 120, 50) 0%, rgb(220, 80, 20) 50%, rgb(248, 160, 90) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa7832', endColorstr='#f8a05a', GradientType=0);
}

.btn_edit_deck {
  color: #db8 !important;
  width: 250px;
}

.btn_edit_deck:hover {
  color: #db8 !important;
}

#footer {
  text-align: center;
}

.card-des {
  padding-left: 1.8rem;
  cursor: pointer;
}

.cb-success {
  display: none;
  position: absolute;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: auto;
  height: 50px;
  line-height: 50px;
  font-size: 10px;
  text-align: center;
  color: #ff0;
  font-weight: bold;
  background: #000;
  border-radius: 50%;
  box-sizing: border-box;
  border: #ff0 solid 1px;
  z-index: 1502;
}

.cb-success:before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #000;
  z-index: 1501;
}

.cb-success:after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #ff0;
  z-index: 1500;
}

/* card.css */
#search_result {
  font-size: 0.8rem;
}

.boad_head {
  height: 25px;
}

.card-table {
  font-size: 0.8rem;
  color: #fff;
}

.unit-title {
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(112, 44, 32);
  background: rgb(37, 20, 10);
  background: -moz-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  background: linear-gradient(to bottom, rgba(37, 20, 10, 1) 0%, rgba(43, 26, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25140a', endColorstr='#2b1a10', GradientType=0);
}

.card-image {
  position: relative;
  width: 404px;
  height: 276px;
  margin: auto;
}

.card-l {
  width: 202px;
  height: 276px;
  vertical-align: top;
  position: absolute;
  background-position: center;
  z-index: 1;
  filter: saturate(125%);
}

.card-l-mask {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.card-l .card-name {
  width: 202px;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  top: 4px;
  z-index: 5;
  text-align: center;
  text-shadow: #000 1px 1px 2px, #000 -1px 1px 2px, #000 1px -1px 2px, #000 -1px -1px 2px;
}

.qt-3 .card-name {
  color: #da05e2;
}

.qt-4 .card-name {
  color: #f90;
}

.qt-5 .card-name {
  color: #e70000;
}

.qt-6 .card-name {
  color: #a47d32;
}

.card-quality-bg {
  width: 180px;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 25px;
  left: 11px;
  z-index: 3;
}

.card-frame,
.card-frame-dijing, .card-frame-dijing-jingying,
.card-frame-emo, .card-frame-emo-jingying,
.card-frame-jingling, .card-frame-jingling-jingying,
.card-frame-jumoemo, .card-frame-jumoemo-jingying,
.card-frame-jumo, .card-frame-jumo-jingying,
.card-frame-jumowangling, .card-frame-jumowangling-jingying,
.card-frame-longzudijing, .card-frame-longzudijing-jingying,
.card-frame-longzu, .card-frame-longzu-jingying,
.card-frame-longzuwangling, .card-frame-longzuwangling-jingying,
.card-frame-longzuyeshou, .card-frame-longzuyeshou-jingying,
.card-frame-renleijingling, .card-frame-renleijingling-jingying,
.card-frame-renlei, .card-frame-renlei-jingying,
.card-frame-renleiyeshou, .card-frame-renleiyeshou-jingying,
.card-frame-shouren, .card-frame-shouren-jingying,
.card-frame-tianshijingling, .card-frame-tianshijingling-jingying,
.card-frame-tianshi, .card-frame-tianshi-jingying,
.card-frame-tianshirenlei, .card-frame-tianshirenlei-jingying,
.card-frame-wanglingemo, .card-frame-wanglingemo-jingying,
.card-frame-wangling, .card-frame-wangling-jingying,
.card-frame-yeshou, .card-frame-yeshou-jingying,
.card-frame-yijie, .card-frame-yijie-jingying,
.card-frame-FS, .card-frame-FS-jingying,
.card-frame-LR, .card-frame-LR-jingying,
.card-frame-MS, .card-frame-MS-jingying,
.card-frame-ZS, .card-frame-ZS-jingying {
  width: 202px;
  height: 276px;
  background-image: url("https://kakasfighter.github.io/images/card_ui/card_frame.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 4;
}

/* 地精 */
.card-frame-dijing {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/dijingkuang.png");
}
/* 地精-菁英 */
.card-frame-dijing-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/dijingkuangjingying.png");
}
/* 惡魔 */
.card-frame-emo {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/emokuang.png");
}
/* 惡魔-菁英 */
.card-frame-emo-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/emokuangjingying.png");
}
/* 精靈 */
.card-frame-jingling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jinglingkuang.png");
}
/* 精靈-菁英 */
.card-frame-jingling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jinglingkuangjingying.png");
}
/* 巨魔惡魔 */
.card-frame-jumoemo {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumoemokuang.png");
}
/* 巨魔惡魔-菁英 */
.card-frame-jumoemo-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumoemokuangjingying.png");
}
/* 巨魔 */
.card-frame-jumo {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumokuang.png");
}
/* 巨魔-菁英 */
.card-frame-jumo-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumokuangjingying.png");
}
/* 巨魔亡靈 */
.card-frame-jumowangling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumowanglingkuang.png");
}
/* 巨魔亡靈-菁英 */
.card-frame-jumowangling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/jumowanglingkuangjingying.png");
}
/* 龍族地精 */
.card-frame-longzudijing {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzudijingkuang.png");
}
/* 龍族地精-菁英 */
.card-frame-longzudijing-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzudijingkuangjingying.png");
}
/* 龍族 */
.card-frame-longzu {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzukuang.png");
}
/* 龍族-菁英 */
.card-frame-longzu-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzukuangjingying.png");
}
/* 龍族亡靈 */
.card-frame-longzuwangling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzuwanglingkuang.png");
}
/* 龍族亡靈-菁英 */
.card-frame-longzuwangling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzuwanglingkuangjingying.png");
}
/* 龍族野獸 */
.card-frame-longzuyeshou {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzuyeshoukuang.png");
}
/* 龍族野獸-菁英 */
.card-frame-longzuyeshou-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/longzuyeshoukuangjingying.png");
}
/* 人類精靈 */
.card-frame-renleijingling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleijinglingkuang.png");
}
/* 人類精靈-菁英 */
.card-frame-renleijingling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleijinglingkuangjingying.png");
}
/* 人類 */
.card-frame-renlei {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleikuang.png");
}
/* 人類-菁英 */
.card-frame-renlei-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleikuangjingying.png");
}
/* 人類野獸 */
.card-frame-renleiyeshou {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleiyeshoukuang.png");
}
/* 人類野獸-菁英 */
.card-frame-renleiyeshou-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/renleiyeshoukuangjingying.png");
}
/* 獸人 */
.card-frame-shouren {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/shourenkuang.png");
}
/* 獸人-菁英 */
.card-frame-shouren-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/shourenkuangjingying.png");
}
/* 天使精靈 */
.card-frame-tianshijingling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshijinglingkuang.png");
}
/* 天使精靈-菁英 */
.card-frame-tianshijingling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshijinglingkuangjingying.png");
}
/* 天使 */
.card-frame-tianshi {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshikuang.png");
}
/* 天使-菁英 */
.card-frame-tianshi-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshikuangjingying.png");
}
/* 天使人類 */
.card-frame-tianshirenlei {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshirenleikuang.png");
}
/* 天使人類-菁英 */
.card-frame-tianshirenlei-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/tianshirenleikuangjingying.png");
}
/* 亡靈惡魔 */
.card-frame-wanglingemo {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/wanglingemokuang.png");
}
/* 亡靈惡魔-菁英 */
.card-frame-wanglingemo-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/wanglingemokuangjingying.png");
}
/* 亡靈 */
.card-frame-wangling {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/wanglingkuang.png");
}
/* 亡靈-菁英 */
.card-frame-wangling-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/wanglingkuangjingying.png");
}
/* 野獸 */
.card-frame-yeshou {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/yeshoukuang.png");
}
/* 野獸-菁英 */
.card-frame-yeshou-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/yeshoukuangjingying.png");
}
/* 異界 */
.card-frame-yijie {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/yijiekuang.png");
}
/* 異界-菁英 */
.card-frame-yijie-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/yijiekuangjingying.png");
}

/* 法師 */
.card-frame-FS, .card-frame-FS-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/FSkuang.png");
}
/* 遊俠 */
.card-frame-LR, .card-frame-LR-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/LRkuang.png");
}
/* 牧師 */
.card-frame-MS, .card-frame-MS-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/MSkuang.png");
}
/* 戰士 */
.card-frame-ZS, .card-frame-ZS-jingying {
  background-image: url("https://kakasfighter.github.io/images/Newplayer/ZSkuang.png");
}

.skill-card-frame {
  background-image: url("https://kakasfighter.github.io/images/card_ui/card_frame_skill.png");
}

.card-l div.init-ready {
  width: 36px;
  height: 36px;
  background-image: url("https://kakasfighter.github.io/images/card_ui/init_ready_circle.png");
  background-repeat: no-repeat;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 5;
  font-size: 21px;
  font-family: Arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px #300, 2px -2px #300, -2px 2px #300, -2px -2px #300;
  padding: 1px 3px 0 0;
}

.card-phyle {
  position: absolute;
  top: 20px;
  right: 0px;
}

.card-quality {
  width: 180px;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 11px;
  text-align: center;
  z-index: 5;
}

.card-hp {
  position: absolute;
  width: 80px;
  background-image: url(https://kakasfighter.github.io/images/Newplayer/shengmingdiban.png);
  background-repeat: no-repeat;
  bottom: 7px;
  right: -13px;
}

.hp-type {
  position: absolute;
  bottom: 4px;
  right: 23px;
  display: inline-block;
  z-index: 4;
}

.hp-volume {
  position: relative;
  bottom: 2px;
  right: 4px;
  width: 40px;
  text-align: right;
  font-size: 21px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px #300, 2px -2px #300, -2px 2px #300, -2px -2px #300;
  display: inline-block;
  z-index: 4;
}

.card-attack {
  position: absolute;
  width: 80px;
  background-image: url(https://kakasfighter.github.io/images/Newplayer/gongjidiban.png);
  background-repeat: no-repeat;
  bottom: 5px;
  left: 10px;
}

.attack-type {
  position: relative;
  bottom: 6px;
  left: 2px;
  display: inline-block;
  z-index: 4;
}

.attack-volume {
  position: relative;
  bottom: 2px;
  margin-left: 2px;
  font-size: 21px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px #300, 2px -2px #300, -2px 2px #300, -2px -2px #300;
  display: inline-block;
  z-index: 4;
}

.card-r {
  display: inline-block;
  width: 202px;
  height: 276px;
  background-image: url("https://kakasfighter.github.io/images/card_ui/card_r.png");
  background-repeat: no-repeat;
  padding: 7px;
  vertical-align: top;
  position: absolute;
  left: 202px;
  z-index: 100;
}

.card-r-auto {
  display: inline-block;
  width: 200px;
  min-height: 274px;
  background-color: #001113;
  border: solid 1px #ccac69;
  border-radius: 10px;
  padding: 5px 5px 6px 5px;
  vertical-align: top;
  position: absolute;
  left: 202px;
  z-index: 100;
  margin: 1px;
}

.card-r-auto:before {
  background: none;
  border: 1px solid #000;
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
}

.card-ability-line,
.card-status-line {
  height: 1px;
}

.card-ability-line:before,
.card-status-line:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 202px;
  height: 3px;
  background-image: url(https://kakasfighter.github.io/images/Newplayer/cardtipsbgxian.png);
  background-repeat:no-repeat;
}

.card-ability-top {
  color: #f60;
  text-align: center;
  margin: 6px 0 8px;
}

.card-status {
  line-height: 15px;
  margin: 0 0 9px;
}

.card-status-top {
  color: #f60;
  text-align: center;
  margin: 6px 0 5px;
}

.card-ability-title {
  color: #f60;
  font-weight: bold;
}

.card-ability {
  overflow-y: auto;
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 7px;
}

.card-ability-skill {
  overflow-y: auto;
  height: 235px;
  font-size: 12px;
  line-height: 14px;
  padding-top: 5px;
}

.card-description {
  width: 404px;
  text-align: center;
  margin: 3px auto 0;
}

.card_abilty_overwrite {
  color: #0f0;
}

.card-race-txt {
  text-align: center;
  color: #1af;
  font-size: 12px;
  margin: 0 0 8px;
  line-height: 12px;
}

.card-skill-job-txt {
  text-align: center;
  color: #f60;
  font-size: 12px;
  margin: 0 0 15px;
  line-height: 12px;
}

.card-status-harm-title {
  color: #f00;
}

.card-status-noharm-title {
  color: #0f0;
}

#deck_editer {
  padding-right: 0;
}

#deck_boad {
  position: relative;
  margin-top: 5px;
  width: 380px;
  height: 504px;
  background: url(https://kakasfighter.github.io/images/card_ui/deck_boad.png) no-repeat;
}

#deck_boad input {
  position: absolute;
  top: 19px;
  left: 62px;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(37, 20, 10);
  color: #fff;
  height: 24px;
  width: 200px;
  padding: 2px 4px;
  font-size: 13px;
}

#deck_boad button {
  position: absolute;
  top: 18px;
  right: 35px;
}

#deck_list {
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 3px;
}

.deck_card_list {
  position: absolute;
  width: 320px;
  max-height: 420px;
  top: 48px;
  right: 35px;
  overflow-y: auto;
  padding-top: 5px;
}

.deck_card_list>div {
  padding-right: 7px;
  padding-left: 8px;
}

#my-card {
  padding-left: 0;
}

#my-card-boad {
  position: relative;
  width: 380px;
  height: 504px;
  margin-top: 5px;
  background: url(https://kakasfighter.github.io/images/card_ui/deck_boad.png) no-repeat;
  transform: scale(-1, 1);
}

#my-card-list {
  transform: scale(-1, 1);
  position: absolute;
  width: 320px;
  max-height: 424px;
  top: 48px;
  right: 35px;
  overflow-x: auto;
}

#my-card-list .card-frame-s, #deck_card_list .card-frame-s,
.card-frame-s-dijing, .card-frame-s-dijing-jingying,
.card-frame-s-emo, .card-frame-s-emo-jingying,
.card-frame-s-jingling, .card-frame-s-jingling-jingying,
.card-frame-s-jumoemo, .card-frame-s-jumoemo-jingying,
.card-frame-s-jumo, .card-frame-s-jumo-jingying,
.card-frame-s-jumowangling, .card-frame-s-jumowangling-jingying,
.card-frame-s-longzudijing, .card-frame-s-longzudijing-jingying,
.card-frame-s-longzu, .card-frame-s-longzu-jingying,
.card-frame-s-longzuwangling, .card-frame-s-longzuwangling-jingying,
.card-frame-s-longzuyeshou, .card-frame-s-longzuyeshou-jingying,
.card-frame-s-renleijingling, .card-frame-s-renleijingling-jingying,
.card-frame-s-renlei, .card-frame-s-renlei-jingying,
.card-frame-s-renleiyeshou, .card-frame-s-renleiyeshou-jingying,
.card-frame-s-shouren, .card-frame-s-shouren-jingying,
.card-frame-s-tianshijingling, .card-frame-s-tianshijingling-jingying,
.card-frame-s-tianshi, .card-frame-s-tianshi-jingying,
.card-frame-s-tianshirenlei, .card-frame-s-tianshirenlei-jingying,
.card-frame-s-wanglingemo, .card-frame-s-wanglingemo-jingying,
.card-frame-s-wangling, .card-frame-s-wangling-jingying,
.card-frame-s-yeshou, .card-frame-s-yeshou-jingying,
.card-frame-s-yijie, .card-frame-s-yijie-jingying,
.card-frame-s-FS, .card-frame-s-FS-jingying,
.card-frame-s-LR, .card-frame-s-LR-jingying,
.card-frame-s-MS, .card-frame-s-MS-jingying,
.card-frame-s-ZS, .card-frame-s-ZS-jingying {
  position: relative;
  height: 117px;
  background: url(https://kakasfighter.github.io/images/card_ui/card_frame_s.png) no-repeat;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px #300, 1px -1px #300, -1px 1px #300, -1px -1px #300;
  font-weight: 600;
}

/* 地精 */
.card-frame-s-dijing {
  background: url("https://kakasfighter.github.io/images/Newplayer/dijingkuangxiao.png") no-repeat;
}
/* 地精-菁英 */
.card-frame-s-dijing-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/dijingkuangjingyingxiao.png") no-repeat;
}
/* 惡魔 */
.card-frame-s-emo {
  background: url("https://kakasfighter.github.io/images/Newplayer/emokuangxiao.png") no-repeat;
}
/* 惡魔-菁英 */
.card-frame-s-emo-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/emokuangjingyingxiao.png") no-repeat;
}
/* 精靈 */
.card-frame-s-jingling {
  background: url("https://kakasfighter.github.io/images/Newplayer/jinglingkuangxiao.png") no-repeat;
}
/* 精靈-菁英 */
.card-frame-s-jingling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/jinglingkuangjingyingxiao.png") no-repeat;
}
/* 巨魔惡魔 */
.card-frame-s-jumoemo {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumoemokuangxiao.png") no-repeat;
}
/* 巨魔惡魔-菁英 */
.card-frame-s-jumoemo-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumoemokuangjingyingxiao.png") no-repeat;
}
/* 巨魔 */
.card-frame-s-jumo {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumokuangxiao.png") no-repeat;
}
/* 巨魔-菁英 */
.card-frame-s-jumo-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumokuangjingyingxiao.png") no-repeat;
}
/* 巨魔亡靈 */
.card-frame-s-jumowangling {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumowanglingkuangxiao.png") no-repeat;
}
/* 巨魔亡靈-菁英 */
.card-frame-s-jumowangling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/jumowanglingkuangjingyingxiao.png") no-repeat;
}
/* 龍族地精 */
.card-frame-s-longzudijing {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzudijingkuangxiao.png") no-repeat;
}
/* 龍族地精-菁英 */
.card-frame-s-longzudijing-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzudijingkuangjingyingxiao.png") no-repeat;
}
/* 龍族 */
.card-frame-s-longzu {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzukuangxiao.png") no-repeat;
}
/* 龍族-菁英 */
.card-frame-s-longzu-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzukuangjingyingxiao.png") no-repeat;
}
/* 龍族亡靈 */
.card-frame-s-longzuwangling {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzuwanglingkuangxiao.png") no-repeat;
}
/* 龍族亡靈-菁英 */
.card-frame-s-longzuwangling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzuwanglingkuangjingyingxiao.png") no-repeat;
}
/* 龍族野獸 */
.card-frame-s-longzuyeshou {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzuyeshoukuangxiao.png") no-repeat;
}
/* 龍族野獸-菁英 */
.card-frame-s-longzuyeshou-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/longzuyeshoukuangjingyingxiao.png") no-repeat;
}
/* 人類精靈 */
.card-frame-s-renleijingling {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleijinglingkuangxiao.png") no-repeat;
}
/* 人類精靈-菁英 */
.card-frame-s-renleijingling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleijinglingkuangjingyingxiao.png") no-repeat;
}
/* 人類 */
.card-frame-s-renlei {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleikuangxiao.png") no-repeat;
}
/* 人類-菁英 */
.card-frame-s-renlei-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleikuangjingyingxiao.png") no-repeat;
}
/* 人類野獸 */
.card-frame-s-renleiyeshou {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleiyeshoukuangxiao.png") no-repeat;
}
/* 人類野獸-菁英 */
.card-frame-s-renleiyeshou-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/renleiyeshoukuangjingyingxiao.png") no-repeat;
}
/* 獸人 */
.card-frame-s-shouren {
  background: url("https://kakasfighter.github.io/images/Newplayer/shourenkuangxiao.png") no-repeat;
}
/* 獸人-菁英 */
.card-frame-s-shouren-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/shourenkuangjingyingxiao.png") no-repeat;
}
/* 天使精靈 */
.card-frame-s-tianshijingling {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshijinglingkuangxiao.png") no-repeat;
}
/* 天使精靈-菁英 */
.card-frame-s-tianshijingling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshijinglingkuangjingyingxiao.png") no-repeat;
}
/* 天使 */
.card-frame-s-tianshi {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshikuangxiao.png") no-repeat;
}
/* 天使-菁英 */
.card-frame-s-tianshi-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshikuangjingyingxiao.png") no-repeat;
}
/* 天使人類 */
.card-frame-s-tianshirenlei {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshirenleikuangxiao.png") no-repeat;
}
/* 天使人類-菁英 */
.card-frame-s-tianshirenlei-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/tianshirenleikuangjingyingxiao.png") no-repeat;
}
/* 亡靈惡魔 */
.card-frame-s-wanglingemo {
  background: url("https://kakasfighter.github.io/images/Newplayer/wanglingemokuangxiao.png") no-repeat;
}
/* 亡靈惡魔-菁英 */
.card-frame-s-wanglingemo-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/wanglingemokuangjingyingxiao.png") no-repeat;
}
/* 亡靈 */
.card-frame-s-wangling {
  background: url("https://kakasfighter.github.io/images/Newplayer/wanglingkuangxiao.png") no-repeat;
}
/* 亡靈-菁英 */
.card-frame-s-wangling-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/wanglingkuangjingyingxiao.png") no-repeat;
}
/* 野獸 */
.card-frame-s-yeshou {
  background: url("https://kakasfighter.github.io/images/Newplayer/yeshoukuangxiao.png") no-repeat;
}
/* 野獸-菁英 */
.card-frame-s-yeshou-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/yeshoukuangjingyingxiao.png") no-repeat;
}
/* 異界 */
.card-frame-s-yijie {
  background: url("https://kakasfighter.github.io/images/Newplayer/yijiekuangxiao.png") no-repeat;
}
/* 異界-菁英 */
.card-frame-s-yijie-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/yijiekuangjingyingxiao.png") no-repeat;
}

/* 法師 */
.card-frame-s-FS, .card-frame-s-FS-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/FSkuangxiao.png") no-repeat;
}
/* 遊俠 */
.card-frame-s-LR, .card-frame-s-LR-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/LRkuangxiao.png") no-repeat;
}
/* 牧師 */
.card-frame-s-MS, .card-frame-s-MS-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/MSkuangxiao.png") no-repeat;
}
/* 戰士 */
.card-frame-s-ZS, .card-frame-s-ZS-jingying {
  background: url("https://kakasfighter.github.io/images/Newplayer/ZSkuangxiao.png") no-repeat;
}


#my-card-list>div {
  padding-right: 8px;
  padding-left: 7px;
}

.card-img-s {
  width: 85px;
  height: 117px;
  filter: saturate(120%);
  background-size: 84px 115px;
  background-position: center;
  background-repeat: no-repeat;
}

.c_double .card-img-s:nth-child(1) {
  margin: 3px 0 0 3px;
}

.c_double .card-img-s:nth-child(2) {
  margin: -121px -4px 4px 0;
}

.c_triple .card-img-s:nth-child(1) {
  margin: 4px 0px 0px 4px;
}

.c_triple .card-img-s:nth-child(2) {
  margin: -121px 0px 0px 0px;
}

.c_triple .card-img-s:nth-child(3) {
  margin: -121px 0px 8px -4px;
}

.card-name-s {
  color: #000;
  text-align: center;
  top: 117px;
  font-size: 11px;
  width: 84px;
}

.init-ready-s {
  width: 20px;
  height: 20px;
  background-image: url(https://kakasfighter.github.io/images/card_ui/init_ready_circle.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  color: #fff;
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 5;
  text-align: center;
  padding: 0 2px 2px 0;
}

.init-ready-s span {
  position: absolute;
  bottom: -1px;
  left: 5px;
}

.card-quality-s {
  position: absolute;
  z-index: 6;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-quality-s img {
  height: 8px;
}

.card-ability-s {
  position: absolute;
  color: #fff;
  font-size: 11px;
  bottom: 25px;
  width: 78px;
  left: 4px;
  line-height: 14px;
  text-shadow: none;
  font-weight: initial;
  background-color: rgba(25, 25, 25, 0.6);
}

.attack-volume-s::before {
  background: url(https://kakasfighter.github.io/images/Newplayer/gongjidibanxiao.png) no-repeat;
  width: 32px;
}

.attack-volume-s-diban {
  position: absolute;
  background: url(https://kakasfighter.github.io/images/Newplayer/gongjidibanxiao.png) no-repeat;
  width: 32px;
  height: 20px;
  bottom: 5px;
  left: 0px;
  z-index: -1;
}

.attack-volume-s {
  position: absolute;
  bottom: 3px;
  left: 5px;
  color: #fff;
}

.card-hp-s-diban {
  position: absolute;
  background: url(https://kakasfighter.github.io/images/Newplayer/shengmingdibanxiao.png) no-repeat;
  width: 32px;
  height: 20px;
  bottom: 5px;
  right: 0px;
  z-index: -1;
}

.card-hp-s {
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #fff;
}

.card-phyle-s {
  position: absolute;
  width: 22px;
  top: 5px;
  right: 4px;
  z-index: 5;
}

.btn-add-deck, .btn_del_deck {
  width: 85px;
  height: 117px;
  top: 0;
  position: absolute;
  z-index: 50;
  cursor: pointer;
}

#job_icon {
  position: absolute;
  top: 17px;
  left: 35px;
}

#card_total_number {
  position: absolute;
  top: 19px;
  right: 35px;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(37, 20, 10);
  height: 24px;
  width: 60px;
  padding: 2px 4px;
  font-size: 13px;
  text-align: center;
  color: #db8;
}

.text-red {
  color: red !important;
}

.deck_info_icon {
  height: calc(1.4rem + 2px);
  padding: .1rem .25rem;
  line-height: 1.4rem;
  position: absolute;
  cursor: pointer;
}

#deck_info {
  transform: scale(-1, 1);
  position: absolute;
  top: 20px;
  right: 30px;
  width: 297px;
}

#deck_info_boad {
  position: absolute;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(37, 20, 10);
  height: 300px;
  padding: 3px;
  font-size: 13px;
  line-height: 120%;
  width: 297px;
  top: 28px;
  color: #db8;
}

.deck_info_title {
  font-size: 13px;
  position: absolute;
}

#deck_info_title_1 {
  top: 5px;
}

#deck_info_title_2 {
  top: 335px;
}

#deck_info_title_3 {
  top: 387px;
}

#share_deck_url {
  top: 357px;
}

#share_deck_iframe {
  top: 409px;
}

.share_deck_input{
  position: absolute;
  border: solid 1px #ca8;
  border-radius: 4px;
  background: rgb(37, 20, 10);
  color: #db8;
  height: 24px;
  width: 297px;
  padding: 2px 4px;
  font-size: 13px;
}